.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#people_form {
  background-color: white;
  padding: 20px;
  width: 800px;
  display: inline-block;
  text-align: left;
}
#newWeight {
  text-align: center;
  background-color: #3a7bf6;
  height: 554px;

}

.chart {
  display: inline-block;
}

.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}

#button {
  margin: 15px;
  background-color: #3a7bf6;
}

#saveButton {
  background-color: red;
}

#saveButtonDiv {
  height: 37px;
  background-color: #3a7bf6;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
