
.App {
  text-align: center;
}

.App-title {
  font-size: 5em;
  font-family: 'Playfair Display', serif;
}

.article-images {
    position: relative;
    width:  235px;
    height: 169px;
    float: left;
    margin-left: 20px;
}

.article {
  padding-top: 20px;
  padding-bottom: 110px;
  background-color: #f0f0f0;
  margin: 100px;
  border-radius: 15px;
}


.news-header {
  color: #f0c980;
}

a:hover {
    color: grey;
}

a {
  color: black;
  style: bold;
  text-decoration: none;
  padding: 5px;
}




.App-intro {
  font-size: large;
}
